body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f6fa;
}

.header {
  font-weight: bold;
  font-size: 2em;
}
.container {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.round {
  padding: 20px 50px 40px 50px;
  margin-left: 55px;
  margin-right: 55px;
}

.form-control {
  text-align: center;
  margin-top: 25px;
}

/* Button Styles */
.btn-danger {
  margin-top: 25px;
  color: #fff;
  background-color: #3d8ee7;
  border-color: #3d8ee7;
}

.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3a;
  border-color: crimson;
}
